ЗАДАНИЕ_1

In [81]:
import pandas as pd
import numpy as np

from sklearn.datasets import load_boston

In [84]:
boston = load_boston()

data = boston["data"]

In [85]:
feature_names = boston["feature_names"]

In [86]:
X = pd.DataFrame(data, columns=feature_names)

X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [87]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    float64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
dtypes: float64(13)
memory usage: 51.5 KB

In [68]:
target = boston["target"]

In [73]:
y = pd.DataFrame(target, columns=["price"])
y.head()

   price
0   24.0
1   21.6
2   34.7
3   33.4
4   36.2

In [94]:
y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   price   506 non-null    float64
dtypes: float64(1)
memory usage: 4.1 KB

In [74]:
from sklearn.model_selection import train_test_split

In [77]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

In [76]:
from sklearn.linear_model import LinearRegression

In [78]:
lr = LinearRegression()

In [95]:
lr.fit(X_train, y_train)

LinearRegression()

In [96]:
y_pred_lr = lr.predict(X_test)
check_test_lr = pd.DataFrame({
    "y_test": y_test['price'],
    "y_pred_lr": y_pred_lr.flatten()
})
check_test_lr.head()

     y_test  y_pred_lr
173    23.6  28.648960
274    32.4  36.495014
491    13.6  15.411193
72     22.8  25.403213
452    16.1  18.855280

In [98]:
from sklearn.metrics import mean_squared_error

mean_squared_error_lr = mean_squared_error(check_test_lr["y_pred_lr"], check_test_lr["y_test"])
print(mean_squared_error_lr)

21.517444231177606

ЗАДАНИЕ_2

In [99]:
from sklearn.ensemble import RandomForestRegressor

In [100]:
clf = RandomForestRegressor(n_estimators=1000, max_depth=12, random_state=42)

In [102]:
clf.fit(X_train, y_train.values[:, 0])

RandomForestRegressor(max_depth=12, n_estimators=1000, random_state=42)

In [104]:
y_pred_clf = clf.predict(X_test)
check_test_clf = pd.DataFrame({
    "y_test": y_test["price"], 
    "y_pred_clf": y_pred_clf.flatten()})

check_test_clf.head()

     y_test  y_pred_clf
173    23.6   22.806412
274    32.4   31.131464
491    13.6   16.339125
72     22.8   23.810726
452    16.1   17.139521

In [106]:
mean_squared_error_clf = mean_squared_error(check_test_clf["y_pred_clf"], check_test_clf["y_test"])
print(mean_squared_error_clf)

9.334548946165196

In [107]:
print(mean_squared_error_lr, mean_squared_error_clf)

21.517444231177606 9.334548946165196